html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
}

body  {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    }

.Next {
    color: #FF004A;
  }

#logo {
    width: 90px;
    height: 75px;
}

.image-button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-item {
    font-weight: bolder;
    text-align: right;
    font-size: 16px;
    position: relative;
    
}

.titlu {
    font-weight: bolder;
    font-family: "ubuntu";
    font-size: 70px;
}

.Phase {
    color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
  }

  .background-image {
    position: relative;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  video#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
  }

  .navbar-transparent {
    background-color: transparent !important;
  }

  .navbar-dark {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  .navbar-toggler {
    border-color: rgb(255, 0, 64) !important;
  }

  .nav-link {
    color: rgb(255, 255, 255) !important;
    padding: 20px 25px !important;
    font-size: 1rem;
  }

  .nav-link:hover {
    color: rgb(255, 0, 85) !important;
  }

  .content {
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .login-card:target {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 9999;
  }
  
  .card-content {
    background-color: #000000ef;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    font-family: "Montserrat";
  }
  
  
  .card-content input[type="text"],
  .card-content input[type="password"] {
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    padding: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    font-family: "Montserrat";
  }

  .card-content input[type="text"]:hover,
  .card-content input[type="password"]:hover {
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    padding: 5px;
    border: inset 3px #FF004A;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .login-button {
    border: 4px solid #FF004A;
    background-color: transparent;
    color: #FF004A;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bolder;
    font-family: "Ubuntu";
    margin: 6px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    letter-spacing: 2px;
  }

  .login-button:hover {
    background-color: #FF004A;
    color: black;
    font-weight: bolder;
    font-family: "Ubuntu";
  }

  .register-button {
    border: 4px solid #FF004A;
    background-color: transparent;
    color: #FF004A;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bolder;
    font-family: "Ubuntu";
    margin: 6px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    letter-spacing: 2px;
  }

  .register-button:hover {
    background-color: #FF004A;
    color: black;
    font-weight: bolder;
    font-family: "Ubuntu";
  }

  .form {
    padding-top: 50px;
    color: white;
  }

  .register {
    padding-top: 50px;
    margin-bottom: 1px;
  }

  .login {
    padding-top: 50px;
    margin-bottom: 1px;
  }

  .hidden {
    display: none;
  }  

  .form-group {
    margin-bottom: 10px;
    width: 100%;
  }

  .form-group input {
    width: 100%;
  }
  
  button[type="submit"] {
    display: block;
    margin-top: 10px;
  }

  h2 {
    color: #FF004A;
    font-weight: bold;
    font-family: "Ubuntu";
  }
  
  /* Custom CSS */
  @media (max-width: 992px) {
    .navbar-nav.ml-auto {
      margin-top: auto;
    }

    .navbar-nav.mr-auto {
      margin-bottom: auto;
    }
  }
  .button-explore {
    border: 3px solid #FF004A;
    background-color: transparent;
    color: #FF004A;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    font-weight: bolder;
    font-family: "Ubuntu";
    margin: 6px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    letter-spacing: 2px;
  }

  .button-explore:hover {
    background-color: #FF004A;
    color: black;
    font-weight: bolder;
    font-family: "Ubuntu";
  }

  .button-container {
    position: absolute;
    margin-top: 24%;
  }

 /* SECTION 2 */

.background-image2 {
  position: relative;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-image2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.welcome-box {
  padding: 0 8%;
}

.welcome {
  color: #FF004A;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: 4rem;
  position: relative;
  text-align: center;
  padding: 0 0 10%;
}

.welcome-box {
  color: white;
  font-family: "Montserrat";
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  align-items: center;
}

.scroll-link {
  transition: 1s ease-in-out;
}

/* SECTION 3 */

.background-image3 {
  position: relative;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-image3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.row {
  padding: 7% 15%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  z-index: 1;
  display: flex;
}

.Products {
  color: #FF004A;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: 3.5rem;
  position: relative;
  text-align: center;
  padding: 0 0 7%;
}

.products-box {
  padding: 2%;
  font-size: 1.5rem;
  font-family: "Montserrat";
}

.products-cards {
  padding: 2% 2% 3%;
  font-size: 1.5rem;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  display: flex;
}

.card-header,
.card-body1,
.card-body2,
.card-body3 {
  flex: 1;
}

.card1, .card2, .card3 {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.699);
  box-shadow: 0 0 10px rgb(39, 39, 39);
}

.card-body1, .card-body2, .card-body3 {
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.cards-text {
  color: white;
}

.computer {
  width: 100px;
  height: 110px;
  padding: 0 0 20px;
}

.bulb {
  width: 100px;
  height: 110px;
  padding: 0 0 20px;
}

.processor {
  width: 100px;
  height: 110px;
  padding: 0 0 20px;
}

/* SECTION 4 */

.background-image4 {
  position: relative;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-image4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.Services {
  color: #FF004A;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: 3.5rem;
  position: relative;
  text-align: center;
  padding: 0 0 5%;
}

.services {
  z-index: 1;
}

.services-box {
  font-family: "Montserrat";
  font-size: 1.5rem;
  padding: 1% 25%;
  align-items: center;
 
}

.service-text {
  padding: 0 10%;
  margin-left: 10px;
  text-align: center;
  color: white;
  z-index: 1;
}


.cloud {
  width: 100px;
  height: 100px;
  float: left;
}

.ai {
  width: 100px;
  height: 100px;
  float: right;
}

.vr1 {
  width: 100px;
  height: 100px;
  float: left;
}

/* SECTION 5 */

.background-image5 {
  position: relative;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-image5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.Carriers {
  color: #FF004A;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: 3.5rem;
  position: relative;
  text-align: center;
  padding: 0 0 25%;
}

.carriers-box {
  padding: 0 24%;
  font-size: 1.9rem;
  font-family: "Montserrat";
}

/* SECTION 6 */

.background-image6 {
  position: relative;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-image6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.Collaborations {
  color: #FF004A;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: 3.5rem;
  position: relative;
  text-align: center;
  padding: 0 0 15%;
}

.collaborations-box {
  padding: 0 15%;
  font-size: 1.5rem;
  font-family: "Montserrat";
}

/* FOOTER SECTION */

.background-image7 {
  position: relative;
  padding: 0;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-image7::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

@media (max-width: 576px) {
  .bottom {
    display: block;
    margin: 5px 0;
  }
}

.bottom-links {
  list-style: none;
  padding: 0 0 20px;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.bot-link {
  color:rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.bot-link:hover {
  color: rgba(255, 255, 255, 0.650);
}

.bottom {
  display: inline-block;
  margin: 0 35px;
}
